<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Login</title>
</head>
<body>

    <div class="content">
        <h1 class="title">Login</h1>
        <hr />

        <form action="<? echo htmlspecialchars($_SERVER['PHP_SELF']) ?>" method=POST class="form" name="login">
            <div class="form-group">
                <input type="text" class="username" name="username" placeholder="Username"/><br />

                <input type="password" class="password" name="password" placeholder="Password"/><br />

                <input type="submit" value="login" />
            </div>
        </form>

        <p class="text-login">¿No tienes cuenta?</p>
        <a href="sineup.php">Create account</a>

    </div>

</body>
</html>
